<!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-4">
                    <h5 class="text-light mb-4">Address</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>No.22 Vijayalakshmi Nagar, Pallavaram</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 8807728489</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@trikodetechnologies.in</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-secondary rounded-circle me-2"
                           href="https://x.com/trikodetech?s=11"
                           target="_blank" rel="noopener noreferrer">
                          <i class="fab fa-twitter"></i>
                        </a>
                      
                        <a class="btn btn-square btn-outline-secondary rounded-circle me-2"
                           href="https://www.facebook.com/share/18pW6XLueg/?mibextid=wwXIfr"
                           target="_blank" rel="noopener noreferrer">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      
                        <!-- <a class="btn btn-square btn-outline-secondary rounded-circle me-2"
                           href="https://www.youtube.com/@trikodetechnologies"
                           target="_blank" rel="noopener noreferrer">
                          <i class="fab fa-youtube"></i>
                        </a> -->
                      
                        <a class="btn btn-square btn-outline-secondary rounded-circle me-2"
                           href="https://www.instagram.com/trikodetechnologies?igsh=enhlOWphZTM0aXF2&utm_source=qr"
                           target="_blank" rel="noopener noreferrer">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </div>
                      
                </div>
                <div class="col-lg-4 col-md-4">
                    <h5 class="text-light mb-4">Services</h5>
                    <a class="btn btn-link" href="/services/compliance">Compliance Support</a>
                    <a class="btn btn-link" href="/services/security">Security Services</a>
                    <a class="btn btn-link" href="/services/vapt">VAPT Services</a>
                    <a class="btn btn-link" href="/services/infrastructure">IT Infrastructure Security</a>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h5 class="text-light mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="/about">About Us</a>
                    <a class="btn btn-link" href="/contact">Contact Us</a>
                    <a class="btn btn-link" href="/services">Our Services</a>
                    <!-- <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a> -->
                </div>
            </div>
        </div>
    </div>
<!-- Footer End -->
<!-- Copyright Start -->
    <div class="container-fluid py-4" style="background: #000000;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="https://trikodetechnologies.com/">trikodetechnologies.com</a>, All Right Reserved.
                </div>
            </div>
        </div>
    </div>
<!-- Copyright End -->
